[user]
    name = Horst Gutmann
    email = {{ .email }}
    signingkey = {{ .signing_key }}
[init]
    defaultBranch = main
[commit]
    gpgSign = true
[gpg]
{{ if (index . "gpg_program") }}
    program = {{ .gpg_program }}
{{ end }}
{{ if (index . "gpg_ssh_program") }}
    format = ssh
[gpg "ssh"]
    program = {{ .gpg_ssh_program }}
{{ end }}
