/**
 * This is a basic stylesheet intended as a replacement for orgmode's default
 * one.
 **/
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700"

* {
    font-family: "Noto Serif","DejaVu Serif",serif;
}

pre {
    font-family: Monaco, "Courier New", Courier;
}

a {
    color: #2156a5;
}

#content {
    font-size: 16px;
    max-width: 800px;
    line-height: 16px;
    margin: auto;
}

p, li {
    font-size: 17px;
    line-height: 27.5px;
}

h1, h2 {
    font-family: "Open Sans","DejaVu Sans",sans-serif;
    font-weight: 300;
}

h1 {
    border-bottom: 1px solid #ddd;
    font-size: 40px;
    line-height: 46px;
}

h2 {
    font-size: 37px;
    line-height: 44.4px;
    color: #ba3925;
}


dt {
    font-weight: bold;
}
.timestamp {
    font-style: italic;
}

#postamble {
    margin-top: 1em;
    border-top: 1px solid #666;
    padding-top: 1em;
    text-align: center;
    font-size: 90%;
    color: #666;
}

#postamble p {
    margin: 0px;
    line-height: 20px;
}

img {
    max-width: 100%;
}

table {
    border: 1px solid #E0E0E0;
    box-model: border-box;
    width: 100%;
}

th {
    background: #EFEFEF;
    font-weight: bold;
}

tr:hover {
    background: #F3F3F3;
}

th, td {
    padding: 8px 16px;
    border: 1px solid #E0E0E0;
}

tbody > tr > td {

}
